.events {
    padding: 140px 0 100px;
    &__listings {
        margin-bottom: 120px;
    }
    &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1334px;
    margin: 0 auto;       
    }
    &__table-title {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px
    }
    &__table-descr {
        font-weight: 400;
        font-size: 16px;
        max-width: 868px;
        align-self: flex-start;
        margin-bottom: 60px;
    }
}