.events {
    padding: 140px 0 100px;
    &__listings {
        margin-bottom: 120px;
    }
    &__table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1334px;
    margin: 0 auto;       
    }
    &__table-title {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px
    }
    &__table-descr {
        font-weight: 400;
        font-size: 16px;
        max-width: 868px;
        align-self: flex-start;
        margin-bottom: 60px;
    }
    .intro__form {
        margin-bottom: 100px;
    }
    &__info {
        box-sizing: border-box;        
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px 67px;
        &-title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;            
        }
        &-section {
            max-width: 401px;
            min-width: 219px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
        }
        &-descr,
        &-contacts {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-wrap: wrap;
        }
        &-tel,
        &-url {
            text-decoration: underline transparent;
        }
    }
}